[Unit]
Description=Daily pacman/paru cache cleanup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
